@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
	background: #fff; /* Warna latar belakang track */
}

::-webkit-scrollbar-thumb {
	background: #000; /* Warna scrollbar */
	border-radius: 0px; /* Membuat sudut melengkung */
}

::-webkit-scrollbar-thumb:hover {
	background: #334155; /* Warna scrollbar saat hover */
}
